

p{
    padding:5px;
    padding-left: 15px;
}
img{
    padding: 25px;
    width: 75px;
    height: 75px;
    background-color: aquamarine;
    border: 2px solid purple;
    border-radius: 50%;
    margin: 8px;
}

